In [4]:
import pandas as pd

In [11]:
url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx'
ranking = pd.read_html(url, encoding='utf-8')
pd_ranking = ranking[0]
pd_ranking

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,강백호,KT,0.380,93,408,337,53,128,27,1,13,196,76,0,4
1,2,양의지,NC,0.353,88,363,303,62,107,21,1,23,199,82,0,4
2,3,이정후,키움,0.348,83,370,310,56,108,31,4,3,156,53,0,5
3,4,박건우,두산,0.330,77,322,282,48,93,22,0,3,124,42,0,3
4,5,홍창기,LG,0.325,91,414,332,67,108,18,2,4,142,40,0,1
5,6,강민호,삼성,0.319,84,323,285,42,91,15,0,14,148,56,0,6
6,7,페르난데스,두산,0.314,89,396,341,52,107,14,0,11,154,56,0,5
7,8,정훈,롯데,0.312,87,381,333,53,104,17,0,11,154,54,1,2
8,9,전준우,롯데,0.309,93,410,353,57,109,28,0,4,149,57,1,6
9,10,안치홍,롯데,0.307,71,312,270,32,83,18,2,6,123,53,3,5
10,11,피렐라,삼성,0.295,98,443,396,76,117,17,2,22,204,76,0,3
11,12,손아섭,롯데,0.295,90,404,356,54,105,14,1,1,124,33,3,0
12,13,허경민,두산,0.294,87,368,340,46,100,22,1,4,136,39,1,2
13,14,김선빈,KIA,0.294,84,374,330,34,97,24,0,3,130,44,1,2
14,15,김현수,LG,0.293,88,375,321,47,94,16,1,14,154,59,0,5
15,16,나성범,NC,0.293,91,405,362,66,106,20,1,22,194,66,0,4
16,17,구자욱,삼성,0.292,94,418,366,76,107,19,6,13,177,62,1,10
17,18,김혜성,키움,0.292,98,442,387,65,113,12,2,3,138,46,0,5
18,19,최원준,KIA,0.290,89,419,369,53,107,14,6,3,142,29,4,3
19,20,박해민,삼성,0.287,94,402,341,60,98,18,1,4,130,39,8,4
20,21,양석환,두산,0.286,92,382,346,46,99,15,0,20,174,61,0,4
21,22,최정,SSG,0.284,91,372,296,62,84,13,1,24,171,71,0,8
22,23,이용규,키움,0.281,92,368,303,55,85,10,6,0,107,29,6,4
23,24,정은원,한화,0.280,97,423,343,58,96,16,5,4,134,30,2,2
24,25,하주석,한화,0.279,92,398,348,57,97,21,3,6,142,46,3,2
25,26,김태진,KIA,0.278,69,297,270,32,75,9,3,0,90,24,5,2
26,27,김재환,두산,0.277,86,359,300,53,83,9,1,18,148,68,0,3
27,28,마차도,롯데,0.274,84,343,292,55,80,15,0,4,107,37,0,5
28,29,심우준,KT,0.272,92,305,272,45,74,15,2,4,105,34,6,4
29,30,오재일,삼성,0.272,76,308,265,36,72,12,0,14,126,55,0,4

In [12]:
pd_ranking.set_index('순위')

      선수명   팀명    AVG   G   PA   AB   R    H  2B  3B  HR   TB  RBI  SAC  SF
순위
1     강백호   KT  0.380  93  408  337  53  128  27   1  13  196   76    0   4
2     양의지   NC  0.353  88  363  303  62  107  21   1  23  199   82    0   4
3     이정후   키움  0.348  83  370  310  56  108  31   4   3  156   53    0   5
4     박건우   두산  0.330  77  322  282  48   93  22   0   3  124   42    0   3
5     홍창기   LG  0.325  91  414  332  67  108  18   2   4  142   40    0   1
6     강민호   삼성  0.319  84  323  285  42   91  15   0  14  148   56    0   6
7   페르난데스   두산  0.314  89  396  341  52  107  14   0  11  154   56    0   5
8      정훈   롯데  0.312  87  381  333  53  104  17   0  11  154   54    1   2
9     전준우   롯데  0.309  93  410  353  57  109  28   0   4  149   57    1   6
10    안치홍   롯데  0.307  71  312  270  32   83  18   2   6  123   53    3   5
11    피렐라   삼성  0.295  98  443  396  76  117  17   2  22  204   76    0   3
12    손아섭   롯데  0.295  90  404  356  54  105  14   1   1  124   33    3   0
13    허경민   두산  0.294  87  368  340  46  100  22   1   4  136   39    1   2
14    김선빈  KIA  0.294  84  374  330  34   97  24   0   3  130   44    1   2
15    김현수   LG  0.293  88  375  321  47   94  16   1  14  154   59    0   5
16    나성범   NC  0.293  91  405  362  66  106  20   1  22  194   66    0   4
17    구자욱   삼성  0.292  94  418  366  76  107  19   6  13  177   62    1  10
18    김혜성   키움  0.292  98  442  387  65  113  12   2   3  138   46    0   5
19    최원준  KIA  0.290  89  419  369  53  107  14   6   3  142   29    4   3
20    박해민   삼성  0.287  94  402  341  60   98  18   1   4  130   39    8   4
21    양석환   두산  0.286  92  382  346  46   99  15   0  20  174   61    0   4
22     최정  SSG  0.284  91  372  296  62   84  13   1  24  171   71    0   8
23    이용규   키움  0.281  92  368  303  55   85  10   6   0  107   29    6   4
24    정은원   한화  0.280  97  423  343  58   96  16   5   4  134   30    2   2
25    하주석   한화  0.279  92  398  348  57   97  21   3   6  142   46    3   2
26    김태진  KIA  0.278  69  297  270  32   75   9   3   0   90   24    5   2
27    김재환   두산  0.277  86  359  300  53   83   9   1  18  148   68    0   3
28    마차도   롯데  0.274  84  343  292  55   80  15   0   4  107   37    0   5
29    심우준   KT  0.272  92  305  272  45   74  15   2   4  105   34    6   4
30    오재일   삼성  0.272  76  308  265  36   72  12   0  14  126   55    0   4